<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "id.my.arisis"
        versionCode = "1" 
        version     = "1.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>KLASER Mubile</name>

    <description>
        Aplikasi Mobile Kelompok Linux Arek Suroboyo Berbasis Android. 
    </description>

    <author href="https://arisis.my.id" email="aris@arisis.my.id">
        Aris Eko Priyanto
    </author>
	<icon src="logoklas.png"/>
</widget>
